.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bg {
	background-color: lightblue;
}

header {
	font-family: "brush script MT";
	font-size: 72px;
	text-align: center;
}


.img { 
    height: 45px;
    width: 3%;
    background-color: powderblue;
    position: absolute;
    top: 10px;
    right: 30px;
}

.img2 { 
    height: 45px;
    position: absolute;
    top: 10px;
    right: 100px;
}

.img3 {
	height: 45px;
	position: absolute;
    top: 10px;
    right: 150px;

}

