.img10 {
	position: absolute;
    bottom: 385px;
    left: 575px;
}

.img11 { 
    height: 45px;
    width: 4.5%;
    position: absolute;
    bottom: 450px;
    left: 505px;

 }

 .img12 { 
    height: 45px;
    width: 4%;
    position: absolute;
    bottom: 500px;
    left: 508px;
 }

 .img13 { 
    height: 45px;
    width: 4.5%;
    position: absolute;
    bottom: 550px;
    left: 505px;

 }

 .img14 { 
 	height: 40px;
    width: 8%;
    position: absolute;
    bottom: 465px;
    right: 475px;

 }


h5 {
	font-family: "brush script MT";
	font-size: 24px;
	position: absolute;
	bottom: 535px;
	left: 855px;

}

h6 {

	font-family: "brush script MT";
	font-size: 24px;
	position: absolute;
	bottom: 445px;
	left: 855px;

}

h3 {

	font-family: "brush script MT";
	font-size: 24px;
	position: absolute;
	bottom: 430px;
	left: 855px;

}

h7 {
	font-family: "palatino";
	font-size: 18px;
	position: absolute;
	bottom: 535px;
	left: 855px;
}

 .img15 { 
 	height: 50px;
    width: 30%;
    position: absolute;
    bottom: 300px;
    right: 485px;

 }

 .img16 { 
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
 }

.img17 { 
 	height: 20px;
    width: 4%;
    position: absolute;
    bottom: 410px;
    right: 525px;

 }
